@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@font-face {
    font-family: 'creattion_demoregular';
    src: url('../fonts/creattion_demo-webfont.woff2') format('woff2'),
        url('../fonts/creattion_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'intermedium';
    src: url('../fonts/fontsfree-net-inter-medium-webfont.woff2') format('woff2'),
        url('../fonts/fontsfree-net-inter-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baskerville_old_faceregular';
    src: url('../fonts/baskvill-webfont.woff2') format('woff2'),
        url('../fonts/baskvill-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

